<html>
<head>
{{> header}}
</head>
<body>
{{> nav}}
 <div class="container">
   <form action="/users/AddPost" method="POST">
   <div class="form-group">
   	  <label for="Header"><h3>Header</h3></label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="header" aria-describedby="emailHelp" placeholder="Enter Header">
  </br>
      <label for="AddPost"><h4>New Blog Post</h4></label>
      <textarea class="form-control" id="exampleTextarea" name="AddPost" rows="15" spellcheck="true" style="z-index: auto; position: relative; line-height: 24px; font-size: 16px; transition: none 0s ease 0s; background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(255, 255, 255);" placeholder="Enter body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>
{{> footer}}
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
</body>
</html>
