<div class="jumbotron">
  <h1 class="display-3">Nikhil Reddy</h1>
  <p class="lead">user info</p>
  <hr class="my-4">
  <p>something</p>
  <div class="container">
    <p>no of aneswrs</p>
  </div>
</div>